@media (max-width:767px){
    #service .service-inner .me-3{
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
    #service .service-inner .mx-2{
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
    #service .service-inner .ms-3{
        margin-left: 0 !important;
        margin-bottom: 20px;
    }
   
    .footer-bottom{
        display: block !important;
    }
    .copyright, .social-links{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
}   
@media (max-width: 900px){
    .menu-icon{
        display: block;
    }
    .nav-list{
        display: block;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0px;
        width: 260px;
        height: 100vh;
        background: white;
        transform: translateX(300px);
        transition: 0.5s;
    }
    .nav-item{
        border-bottom: 1px solid #1a1a1a;
        padding: 8px;
    }
    .nav-item:hover {
        box-shadow: 0 0 5px 2px #222 inset;
    }
    .nav-item:first-child{
        margin-top: 78px;
    }
        
    .yel{
        background-color: #ee9e85 !important;
        transform: translateX(0px) !important;
        box-shadow: 0 0 6px 3px #222 inset;
        
    }
}

@media (min-width: 900px){
    .nav-item .nav-link:hover{
        color: #dc4242 !important;
    }
    .dropdownItem{
        position: relative;
    }
    .dropdown{
        position: absolute !important;
        top: 30px;
        opacity: 0;
        /* display: none; */
        transform: translateY(4rem);
        transition: 0.5s;
        list-style-type: none;
        background: white;
        width: 180px;
        margin-top: 15px;
        border-top: 4px solid #de3334;
        border-radius: 5px;
        margin: 0;
        margin: 20px -15px;
        padding: 0;
        box-shadow: 0rem 0.5rem 1.5rem 0px rgba(0,0,0,.75) !important
    }
    .dropdown li{
        padding: 4px 0;
        border-top: 1px solid red;
        display: none;
    }
    .dropdown li a{
        text-decoration: none;
        color: black;
        padding: 5px 15px;
        display: inline-block;
    }
    .dropdownItem:hover .dropdown{
        opacity: 1;
        /* display: block; */
        visibility: visible;
        transform: translateY(0);
    }
    .dropdownItem:hover .dropdown li {
        display: block;
    }
    .nav-link{
        color:#ffffff !important;
        font-weight:900!important;
    }
}
@media (max-width: 992px){
	.map{
		margin-top:3rem;
	}
}